@model RS_SEMINARSKI.ViewModels.RacunVM

@{

    Layout = null;
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #KONT_STRANICE {
        height: 100%;
        width: 100%;
        background-image: url("https://i.pinimg.com/564x/8f/c6/b7/8fc6b7eca6e1d9bba6500efc0cfd8bda.jpg");
        background-position: center;
        background-size: cover;
        opacity: 0.9;
    }

    #GLAVNI {
        border-radius: 10px;
        position: relative;
        background-color: white;
        height: 600px;
        width: 80%;
        top: 40px;
        left: 130px;
    }

    #NavMain {
        background-color: white;
        height: 60px;
        width: 100%;
        color: white;
    }

    .btn {
        color: dimgrey;
        background-color: white;
        margin-top: 25px;
        margin-left: 120px;
        font-size: 15px;
        width: 130px;
        bottom: 5px;
        border: none;
        /*background-color: rebeccapurple;*/
    }

    button {
        position: relative;
        left: 90px;
        padding-left: 160px;
        /*margin-left:30px;*/
        /*    width:100px;
            background-color:rebeccapurple;*/
    }

    span {
        color: lightblue;
        padding-top: 40px;
        font-size: 25px;
        padding-left: 48px;
        position: relative;
        top: 15px;
        bottom: 4px;
    }

    #KorPodaci {
        /*background-color: blue;*/
        width: 100%;
        height: 60px;
        border-radius: 10px;
        margin-top: 20px;
    }
    /*
        form label {
            padding-top: 12px;
            padding-left: 48px;
            margin-left: 40px;
            font-weight: normal;
            color: dimgrey;
            display:block;
            margin-left:30px;
        }*/

    .input_polje {
        /*margin-top:px;*/
        /*border-style: dashed;*/
        border: 1px solid transparent;
        margin-left: 65px;
        padding-top: 4px;
        width: 600px;
        border: 1px solid transparent;
        border-bottom: 1px solid lightblue;
        color: gray;
        cursor: pointer;
    }

    #Slika {
        /*background-color:yellow;*/
        height: 100%;
        width: 40%;
        float: left;
    }

    #vjecanje {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    .btn alert-danger {
        margin-left: 30px;
    }

    #neko {
        /*background-color:yellow;*/
        margin-left: 240px;
        border-radius: 2px;
        border-color: lightblue;
        border: 1px solid transparent;
        color: lightcoral;
    }

    #neko2 {
        /*background-color: yellow;*/
        margin-left: 2px;
        float: left;
        border-radius: 2px;
        border-color: lightblue;
        border: 1px solid transparent;
        position: relative;
        left: 20px;
        color: lightgreen;
    }
    /*  #butoni{
            background-color:aqua;
            width:300px;
            height:20%;
            float:left;
        }*/
    .form-control {
        cursor: pointer;
    }

    .text-danger {
        cursor: pointer;
    }

    #labela {
        padding-top: 12px;
        padding-left: 48px;
        margin-left: 40px;
        font-weight: normal;
        color: black;
        display: block;
        margin-left: 30px;
        position: relative;
        left: 66px;
    }

    #snimi {
        border: 1px solid transparent;
        margin-left: 20px;
        padding-top: 4px;
        width: 600px;
        border: 1px solid transparent;
        border-bottom: 1px solid lightblue;
        color: gray;
        cursor: pointer;
        margin-top: 30px;
    }
</style>



<div id="KONT_STRANICE">
    <div id="NavMain">
        @*<button class="btn " onclick="window.location = '/Vjencanje/PrikazPocetne?KorisnikID=@Model.KorisnikID'">Klik do vjenčanja </button>*@
        @*<button class="btn " onclick="window.location ='/Korisnik/PrikazRacuna?korisnikID=@Model.KorisnikID'">Korisnički račun</button>*@
        <a class="btn " asp-area="" asp-controller="Home" asp-action="Index">Početna stranica</a>
        <button class="btn" onclick="window.location='/Autentifikacija/LogOut'">Odjavi se</button>
    </div>
    <div id="GLAVNI">
        <div id="Slika">
            <img id="vjecanje" src="https://i.pinimg.com/564x/07/a6/3b/07a63b510508cbe1cf1dab62814f1cbb.jpg" alt="Mountains">

        </div>
        @*var model=@Model.RacunID + " " + @Model.RezervacijaID + " " + @Model.dtmDate + " " + @Model.UkupanIznos + " " + @Model.nacinPlacanjaID + " " + @Model.KreditnaKarticaBroj + " " + @Model.MjesecIstekaKartice + " " + @Model.GodinaIstekaKartice + " " + @Model.CVC;*@
        <div id="SpanElement">
            <span>Evidentiraj plaćanje </span><br />
        </div>
        <div id="KorPodaci">
            <form asp-controller="Racun" asp-action="Plati" id="formID">


                @*RacunID*@
                <input asp-for="RacunID" hidden />
                <br />


                @*RezervacijaID*@
                <input asp-for="RezervacijaID" hidden id="RezervacijaID" />
                <br />

                <label id="labela">Datum vjenčanja</label>
                <input class="input_polje" asp-for="dtmDate" type="date" disabled id="DatumID" />
                <br />

                <label id="labela">Ukupan iznos vjenčanja</label>
                <input class="input_polje" asp-for="UkupanIznos" disabled id="UkupanIznosID" />
                <br />


                @*<label id="labela">Način plaćanja</label>*@
                <br />
                <select class="input_polje" asp-for="nacinPlacanjaID" asp-items="Model.nacinPlacanja" id="NacinPlacanjaID" onchange="prikaz()"><option selected disabled>IZABERITE NAČIN PLAĆANJA</option></select>
                <br />

                <div id="blok">
                <label id="labela">Broj kreditne kartice</label>
                <input class="input_polje" asp-for="KreditnaKarticaBroj" id="BrojKreditneID" />
                <br />


                <label id="labela">Mjesec isteka kreditne kartice</label>
                <input class="input_polje" asp-for="MjesecIstekaKartice" id="MjesecID" />

                <br />

                <label id="labela">Godina isteka kreditne kartice</label>

                <input class="input_polje" asp-for="GodinaIstekaKartice" id="GodinaID" />
                <br />

                <label id="labela">CVC</label>
                <input class="input_polje" asp-for="CVC" id="CVCID" />
                <br />

                <br />
                    </div>
                <br />
                <br />
                
                @*<input class="input_polje" type="submit" value="Plati" />*@


            </form>
            @*<input id="ajax1" onclick="PrikaziPorukuPlacanja()" type="submit">Plati ajax</input>*@
            <input class="input_polje" style="color:#ff8080" type="submit" onclick="PrikaziPorukuPlacanja()" value="Izvrši plaćanje"/>
        </div>
    </div>
</div>
<div id="Ajax2"></div>



@*<script src="../../Jquery/prettify.js"></script>*@
<script>


    var prikaz = () => {
        console.log(document.getElementById("NacinPlacanjaID").value);
        if (document.getElementById("NacinPlacanjaID").value == 1) {
            document.getElementById("blok").style.display = "block";
        } else {
            document.getElementById("blok").style.display = "none";
        }
    }
    prikaz();





 setTimeout(function () {
        var msg = document.getElementById("Ajax2");
        msg.parentNode.removeChild(msg);
    }, 8000);


    function PrikaziPorukuPlacanja() {
        //var forma = $("#formID");

        var RezervacijaID = $("#RezervacijaID").val();
        var CVC = $("#CVCID").val();
        var Mjesec = $("#MjesecID").val();
        var Godina = $("#GodinaID").val();
        var BrojKreditne = $("#BrojKreditneID").val();
        var NacinPlacanja = $("#NacinPlacanjaID").val();
        var UkupanIznos = $("#UkupanIznosID").val();
        var Datum = $("#DatumID").val();

        var data = {
            "RezervacijaID": RezervacijaID,
            "CVC": CVC,
            "MjesecIstekaKartice": Mjesec,
            "GodinaIstekaKartice": Godina,
            "KreditnaKarticaBroj": BrojKreditne,
            "nacinPlacanjaID": NacinPlacanja,
            "UkupanIznos": UkupanIznos,
            "dtmDate": Datum
        };

        $.ajax({
            url: '@Url.Action("Plati", "Racun")',
            type: "POST",
            data: data,
            success: function (data) {
                $("#Ajax2").html(data);
            }
        });
        //alert("Uspjesno snimljeno");
    }

</script>
